<html>
{{#each foo}}
    {{this}}
{{/each}}
<div align="center">
    <h3>Sign in Weather Vault </h3>
    <label for='signIn'></label><select id='signIn' name="guides">


    <form id="addGuide" action="/guides" method="post">
        <input id="nameId" required placeholder="first name" type="text" name="firstName">
        <input required placeholder="last name" type="text" name="lastName">
        <input required placeholder="password" type="text" name="password">
        <br>

        {{#each guides}}
            <option value="{{guides}}">{{guides}}</option>
            <input type="submit" value="SIGN IN" onclick="signIn()">
        {{/each}}

<!--        <div id="containerId"><div>-->

    </form>
    <br/>
</div>

<script>
    console.log(user_id)
    function signIn() {
        let user_id = document.getElementById('signIn').value;
        window.location = '/sign_in/firstName/' + user_id
    }
</script>